/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
.main-header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main-header nav {
    display: flex;
    align-items: center;
}

.main-header .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .nav-links li {
    margin-left: 20px;
}

.main-header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.main-header a{
    color: #fff;
    text-decoration: none;
}

/* Menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links a {
        padding: 10px;
    }
}

/* Contenido principal */
.welcome {
    text-align: center;
    padding: 20px;
}

.welcome h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Formulario */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.form h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

.form {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

.form input[type="radio"],
.form select {
    margin-bottom: 15px;
}

.form input[type="radio"] {
    margin-right: 10px;
}

.form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #555;
}


/* Estilos del footer */
.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-links a:hover {
    text-decoration: underline;
}


/* Estilos para aboutProject y howFunction */
.about-project, .how-function {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.about-project h1, .how-function h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.about-project h2, .how-function h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-project p, .how-function p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-project ul, .how-function ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.about-project ul li, .how-function ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.about-project ul li strong, .how-function ul li strong {
    color: #333;
}